:root {
  /* Шрифт за замовчуванням */
  --font-family: 'Inter', sans-serif;
  /* Розмір шрифту за замовченням (де 16 - розмір шрифту за замовчуванням з макету)  */
  --font-size: clamp(13px, 1vw, 17px);
  /* Основні кольори */
  --main-color: #000;
  --header-height: 73px;

  --bg: #fafaf8;
  /* --bg: rgb(224, 225, 219); */
  --bg-2: #f2f1ed;
  --bg-3: #ececea;
  --ink: #000000;
  --ink-2: #3a3a3a;
  --ink-3: #8a8a86;
  --line: rgba(0, 0, 0, 0.1);
  --line-2: rgba(0, 0, 0, 0.18);
  /* --accent: #c8451f; */
  --accent: #dc514c;
  --dark: #111111;
  --font: 'Inter', Helvetica, Arial, sans-serif;
  --pad-x: 3.1vw;
  /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
}
